<div class="panel panel-default selection__container">
  <div class="panel-body selection__body">
    <h4>Productgroep</h4>
    <input type="text" class="form-control selection__search-input" [(ngModel)]="searchTerm" placeholder="Zoek op...">
    <div class="selection__items-container">
      <div *ngFor="let item of items| sortAndSearch:searchTerm">
        <label class="selection__label">
          <div class="selection__checkbox pull-left" [ngClass]="{'selection__checkbox--checked': item.isChecked}"></div>
          <input class="selection__checkbox" type="checkbox" [(ngModel)]="item.isChecked" (ngModelChange)="updateCheckedOptions(item,i)">
          <div class="selection__checkbox-title pull-right" [ngClass]="{'selection__checkbox-title--checked': item.isChecked}">{{item.item}}</div>
        </label>
      </div>
    </div>
    <button type="button" class="btn btn-primary selection__submit col-md-12 col-xs-12" (click)="submitSelection()">Toepassen</button>
  </div>
</div>